/*VARIABLES*/
/*CONDICIONALES*/
body {
  font-family: 'Titillium Web', sans-serif; }

.navbar {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  min-height: 100px; }
  .navbar .nav-link {
    color: black;
    font-size: 20px; }
  .navbar .nav-link:hover {
    color: #EABE3F; }
  .navbar .logo-principal {
    min-width: 90px;
    max-width: 110px; }
  .navbar .icon-menu {
    font-size: 35px; }
  .navbar .icon-menu:hover {
    color: #EABE3F; }

#banner-empresa {
  background-image: url(../css/img/banner3.jpg);
  background-size: cover;
  padding-top: 90px;
  min-height: 400px;
  color: white; }
  #banner-empresa .container__texto h1 {
    font-size: 50px; }
  #banner-empresa .container__texto .span-empresa {
    color: #EABE3F; }
  #banner-empresa .container__texto .col-md-3:hover {
    color: #EABE3F; }
  #banner-empresa .container__texto .breadcrumb {
    background-color: transparent; }
  #banner-empresa .container__texto .breadcrumb-item {
    font-size: 20px;
    color: white; }

#contacto-1 {
  padding: 30px; }
  #contacto-1 .letras--1 {
    color: #EABE3F; }
  #contacto-1 h4 {
    text-align: center; }
  #contacto-1 .boton {
    margin-top: 5px; }

#contacto-2 {
  padding: 30px; }
  #contacto-2 .btn-primary {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s; }
  #contacto-2 .btn-primary:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

#footer .container {
  height: 200px;
  color: #EABE3F;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #footer .container h4 {
    margin-top: 50px; }
  #footer .container .list-footer-item {
    list-style-type: none;
    color: white;
    margin-top: 5px; }

.copyrigth p {
  font-size: 18px;
  color: #999999;
  text-align: center; }

@media (max-width: 575.98px) {
  #footer {
    height: 400px; }
  .card {
    margin-bottom: 10px; } }
